@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Yanone+Kaffeesatz&display=swap');
#content{
    margin: 0 auto;
    width: 50%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15pt;
}
header{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgb(6, 6, 74);
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(55, 225, 199), 0 0 5px rgb(6, 6, 74);
    font-size: 30pt;
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    align-items: center;
}
main{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
footer{
    background-color: rgb(6, 6, 74);
    color: white;
    text-align: center;
    font-size: 12pt;
    padding: 0.5em;
    font-family: 'Bodoni Moda', serif;
}
#datedifferent{
    color: rgba(241, 64, 214, 0.952);
}
img {
    width:90%;
    height: auto;
    align-items: center;
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(55, 225, 199), 0 0 5px rgb(6, 6, 74);
    margin-top: 20%;
    margin-left: 20%;
    margin-bottom: 15%;
}
a { 
    text-decoration: none; 
    color: rgb(55, 225, 199); 
}
a:hover {
    text-decoration: none;
    color: rgb(6, 6, 74);
}
a:focus { 
    text-decoration: none; color:rgb(6, 6, 74); 
}
a:active { 
    text-decoration: none; color:rgb(55, 225, 199);
}

@media screen and (max-width: 50em){
    header{
        font-size: medium;
    }
    #content{
        font-size: smaller;
    }
    footer{
        font-size: smaller;
    }
}