/* Mobile first */
@import url();
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
html{
    height: 100%;
    font-size: 1.2em;
}
body{
    height: 100%;
}
@media screen and (min-width: 700px){

}